<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Productos Deportivos</span>
                    <table class="table table-success table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Categoria</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Camisola RM</td>
                            <td>CES</td>
                            <td>500</td>
                            <td>Camisolas</td>
                            <td><i class="fa-solid fa-trash-can"></i></td>
                          </tr>
                          <tr>
                            <td>Camisola Barca</td>
                            <td>CES</td>
                            <td>500</td>
                            <td>Camisolas</td>
                            <td><i class="fa-solid fa-trash-can"></i></td>
                          </tr>
                        </tbody>
                      </table> 
                      <button class="btn btn-success float-end" routerLink="/crearp">Agregar</button>
                </div>
            </div>
        </div>

    </div>
</div>
